<h3> Welcome, <%= current_user.username %></h3>

<% unless locals.empty? %>
  <p><%= message %></p>
<% end %>

<h2> Shopping List </h2>

<% @items.each do |item| %>
  <div>
    <% if item.user_id == current_user.id %>
    <a href="/items/<%=item.id%>/edit"><%=item.name%></a>
    <% else %>
      <%=item.name%>
    <% end %>
  </div>
<% end %>
